h1, h2, h3, h4, h5{
    color: rgb(33, 94, 94);
}

img{
    height: 95%;
    width: 95%;
    object-fit: contain;
}
.date-picker{
    border-radius: 3px;
    border-color:black;
}
.text{
    align-items: center;
}
